.dynamic-insert {
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  cursor: default !important;
  border: none !important;
  background-color: white;
  font-family: inherit;

}
